<div class="confirm_blk">
    <span class="_ico-warning"></span>
    Ваша учетная запись не подтверждена.<br>
    <a href="{{ path('registration_new_code_confirm', {'email': email}) }}">Отправить ещё раз код активации</a>
</div>