{% extends '@PostroykaApp/base.html.twig' %}

{% block title %}
    Восстановление пароля
{% endblock %}

{% block content %}
    <div class="auth_blk">
        {{ form_start(form, {'action': path('restore_password')}) }}

        <div class="blk_body">
            <div class="_form-fields-wrap">
                <div class="_form-fieldset">
                    {{ form_row(form.email) }}
                </div>

                <div class="_form-fieldset">
                    {{ form_row(form.password) }}
                </div>
            </div>
        </div>

        <div class="blk_foot">
            <div class="control-submit">
                <button type="submit" class="orange_btn">Отправить</button>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}