{% extends '@PostroykaApp/base.html.twig' %}

{% block title %}
    Регистрация успешна
{% endblock %}

{% block content %}
    <div class="success_blk">
        <span class="_ico-check"></span>
        Вам на почту пришло письмо с подтверждением регистрации. Пройдите по указанной в письме ссылке.
    </div>
{% endblock %}