{% extends '@PostroykaAccount/Account/layout.html.twig' %}

{% block title %}
    Изменение E-mail
{% endblock %}

{% block account_content %}
    <div class="change-pass_blk">
        {{ form_start(form) }}

        <div class="blk_body">
            <div class="_form-fields-wrap">
                <div class="_form-fieldset">
                    {{ form_row(form.password) }}
                </div>

                <div class="_form-fieldset">
                    {{ form_row(form.email) }}
                </div>
            </div>
        </div>

        <div class="blk_foot">
            <div class="control-submit">
                <button type="submit" class="orange_btn">Сохранить изменения</button>
            </div>
        </div>

        {{ form_end(form) }}
    </div>
{% endblock %}