<a href="https://www.youtube.com/постройкабел" class="c-yt-link" target="_blank" rel="noopener"
   title="Постройка на YouTube">
    <span class="_text">Наш YouTube-канал</span>
    {{ source('@PostroykaApp/svg-set/s-yt.svg') }}
</a>