<div class="-shadow_default write-to-us_blk">
    <div class="image">
        <img src="{{ asset('bundles/postroykaapp/images/boss.png') }}?{{ ver }}"
             title="Директор магазина строительных материалов «Постройка.бел»"
             alt="Написать директору магазина строительных материалов «Постройка.бел»">
    </div>

    <a href="{{ path('director') }}" class="full-width_btn">
        <span class="_ico-clipboard2"></span>Написать директору
    </a>
    <a href="{{ path('proposition') }}" class="full-width_btn">
       <svg class="svg-ico svg-reviews svg-feed">
               <use xlink:href="#svg-reviews">
                   <svg id="svg-reviews" viewBox="0 0 32 32">
                       <title>reviews</title>
                       <path d="M12.926 6.926c-7.139 0-12.926 4.446-12.926 9.944 0 2.69 1.398 5.136 3.662 6.923-0.138 1.826-0.574 4.059-1.848 5.264 2.536 0 5.12-1.582 6.762-2.827 1.36 0.378 2.826 0.582 4.35 0.582 7.136 0 12.928-4.458 12.928-9.944-0.002-5.496-5.792-9.942-12.928-9.942v0z"></path><path d="M30.115 17.83c1.088-1.448 1.709-3.134 1.709-4.942 0-5.498-5.787-9.944-12.928-9.944-3.146 0-6.030 0.864-8.266 2.291 1.050-0.194 2.158-0.301 3.296-0.301 7.678 0 13.917 4.896 13.917 10.934 0 2.381-0.963 4.586-2.603 6.382 1.632 1.242 4.226 2.835 6.76 2.835-1.806-1.71-1.934-5.506-1.885-7.256v0z"></path>
                   </svg>
               </use>
           </svg>Оставить отзыв, предложение (анонимно)
    </a>
</div>
